/* ------- common styles ------- */
html {
    font-size: 16px;
}
h1, h2, h3 {
    font-family: 'Lora', serif;
    font-weight: 700;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    padding: 1rem 0;
}
p, a {
    font-family: 'Raleway', sans-serif;
}
a {
    text-decoration: none;
}
p {
    line-height: 1.2;
}
body {
    background-color: #f3f5f5;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.wrapper {
    padding: 2rem 0 2rem 1.5rem;
}
.max_screen {
    max-width: 1200px;
    margin: 0 auto;
}
.info_block p {
    padding: 1rem 0;
}
/* ------- end of common styles ------- */

/* ------- nav ------- */
nav {
    height: 4rem;
    align-items: center;
    color: #b5b5b5;
    background-color: #fff;
}
.nav_container {
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.logo {
    align-items: center;
}
.logo img {
    height: 2rem;
    margin-right: .5rem;
}
.logo h2 {
    text-transform: uppercase;
}
.logo span {
    font-weight: bold;
    color: #4a4a4a;
}
.main_nav li {
    margin-left: 1rem;
}
.main_nav li a {
    text-decoration: none;
    color: #4a4a4a;
}
/* ------- end of nav ------- */

/* ------- header ------- */
header {
    background-color: #d8d8d8;
}
.banner {
    width: 60%;
    margin-right: 1.5rem;
}
.banner img {
    width: 100%;
}
.slogan {
    color: #4a4a4a;
    width: 35%;
    flex-direction: column;
    justify-content: center;
}
.slogan p {
    padding: 1.75rem 0;
    font-size: 1.5rem;
    font-weight: 700;
}
.slogan a {
    display: block;
    padding: 1rem 2rem;
    width: 65%;
    background-color: #4a4a4a;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
}
/* ------- end of header ------- */

/* ------- info ------- */
.info {
    justify-content: space-between;
}
.info article {
    flex-direction: column;
    width: 59%;
}
.info article .info_img img {
    width: 100%;
}
.info h2 {
    padding: 2rem 0;
}
.info article p, .thesis .video_block p {
    font-size: 1.2rem;
    line-height: 1.4;
    padding-bottom: 2rem;
}
.info p.author {
    font-size: 1rem;
}
aside {
    width: 36%;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-left: 1px solid #d8d8d8;
}
.info .info_block {
    padding: 1rem 0 1rem 1rem;
    border-bottom: 1px solid #d8d8d8;
}
.info .info_block:last-child {
    background-color: #d8d8d8;
    border-bottom: none;
}
.info .info_block:first-child {
    padding-top: 0;
}
.info .info_block img {
    width: 35%;
    height: 100%;
    margin-right: 1rem;
}
.info_block .info_block_content {
    flex-direction: column;
    justify-content: center;
    width: 60%;
}
/* ------- end of info ------- */

/* ------- learning ------- */
.learning {
    background-color: #eaebec;
    text-align: center;
}
.learning h2 {
    padding-bottom: 2rem;
}
.learning_wrap {
    padding: 2rem 4.5rem;
    flex-direction: column;
    align-items: center;
}
.learning_items_wrap {
    justify-content: space-between;
}
.learning_item {
    flex-direction: column;
    width: 32%;
}
.learning_item:first-child {
    padding-bottom: 2rem;
}
.learning_item_img img {
    width: 100%;
}
.learning_item_content {
    padding: 1rem 1rem 1.5rem 1rem;
    text-align: left;
}
.learning_item {
    font-family: 'Raleway', sans-serif;
}
/* ------- end of learning -------- */

/* ------- thesis ------- */
.thesis {
    background-color: #f3f5f5;
    text-align: center;
}
.thesis .wrapper {
    justify-content: space-between;
}
.thesis h2 {
    padding-top: 2rem;
}
.thesis .video_block {
    width: 60%;
    text-align: left;
}
.thesis .video_block h3 {
    padding: 1.5rem 0 .5rem 0;
}
.thesis .video_block p {
    padding-bottom: 2rem;
}
.thesis .video_block video {
    width: 100%;
    height: auto;
}
.thesis aside {
    width: 38%;
    margin-left: 1rem;
    padding: 0;
    border: none;
}
.thesis .info_block {
    padding: 1rem 0 1rem 1rem;
}
.thesis .info_block:first-child {
    background-color: #d8d8d8;
}
.thesis .info_img {
    width: 35%;
}
.thesis .info_block img {
    width: 100%;
}
.thesis .info_block_content {
    width: 61%;
    align-items: flex-start;
    text-align: left;
    padding-left: 1rem;
}
/* ------- end of thesis ------- */

/* ------- footer ------- */
footer {
    border-top: 1px solid #d8d8d8;
}
.footer_wrapper {
    padding: 1rem 1.5rem 2rem 1.5rem;
    justify-content: space-between;
}
footer ul li {
    padding-left: 1rem;
}
footer ul li a {
    text-decoration: none;
    color: #4a4a4a;
}
